.btn-group{

    top: 25px;
    z-index: 1000;
}

.header{
    background-color: #3278EB;
    color: #FFFFFF;
    margin-left: 100px;
    margin-right: 100px;
    height: 850px;
    margin-top: 50px;
}

.blog_header{
    background-color: #32B5EB;
    color: #FFFFFF;
    margin-left: 100px;
    margin-right: 100px;
    height: 850px;
    margin-top: 50px;
}

.decor{
    position: fixed;
    right: 100px;
    width: 600px;
    height: auto;
}

.splitter{
    background-color: #5FA5FA;
    margin-left: 0;
    margin-right: 0;
    height: 12px;
    margin-top: 20px;
    z-index: 1200;
}

.blog_splitter{
    background-color: #5FD8FA;
    margin-left: 0;
    margin-right: 0;
    height: 6px;
    margin-top: 0;
    z-index: 1200;
}

h1{
    text-align: center;
    padding-top: 300px;
    font-size: 60px;
    color: #FFFFFF;
}

.blog{
    text-align: center;
    padding-top: 0;
    font-size: 60px;
    color: #FFFFFF;
}

h2{
    text-align: left;
    padding-left: 263px;
    padding-top: 50px;
    font-size: 40px;
    color: #FFFFFF;
}

h3{
    text-align: left;
    padding-left: 263px;
    padding-top: 100px;
    font-size: 30px;
    color: #FFFFFF;
}

.messages{
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 30px;
    color: #FFFFFF;
}

.comments
{
    text-align: left;
    padding-left: 10px;
    padding-top: 0;
    font-size: 25px;
    color: gold;
}

footer
{
    font-family: 'Arial', Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    align-items: flex-end;
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #212529;
    z-index: 1200;
}

a
{
    color: #00FFFF;
}