{% extends 'base.html' %}

{% block title %}
    Описание
{% endblock %}

{% block content %}
    <h2>Серия книг «Играть, чтобы жить»</h2>
    <h3>Описание</h3>
    <p>Оцифрованные люди в виртуальном мире… Для миллионов это просто игра, для сотен тысяч — новый дом,<br>
       а для амбициозных правительств — возможность подмять под себя невероятные магические технологии и<br>
       ресурсы девственных земель. Глеб обманул судьбу, бросив в реале смертельно больное тело и<br>
       заменив его на бессмертный аватар в мире меча и магии. Казалось бы, живи и радуйся — впереди вечная<br>
       молодость, рядом любимая женщина, а спину прикрывают верные друзья. Но человеческая сущность<br>
       многогранна: кто-то жаждет власти, кто-то богатства. И вот уже первые стоны рабов раздались над<br>
       виртуальным миром, а в реальность потек тоненький ручеек настоящего золота. Как поступить — остаться<br>
       в стороне и смотреть, как чудесный мир превращается в изнанку Земли, или найти в себе силы и<br>
       вмешаться в игры могучих противников?</p>
{% endblock %}